<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DBT Quick Reference Guide</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav class="navbar">
      <strong>
        <a href="/" class="navbar__home">DBT Quick Refference</a>
      </strong>
        
      
      
      <div class="navbar__menu">
        <ul>
          <li>
            <a href="/" class="">Home</a>
          </li>
          <li>
            <a href="/skills" class="">View Skills</a>
          </li>
          <li>
            <a href="/skills/new" class="">Add Skill</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
