<div class="backdrop" id='backdrop'></div>

<div class="modal" id="modal">
    <div class="modal__title text-center">
        <i id="modalPrev" class="fas fa-chevron-left modal__arrow"></i>
        <h4 id="modalTitle"></h4>
        <i id="modalNext" class="fas fa-chevron-right modal__arrow"></i>
    </div>
    <div id="modalContent"></div>
</div>



