<%- include ('./partials/header') %>
<h1 class="text-center mt-3 mb-3">
  Core Mindfulness
</h1>

<div class="container mindfulness">
    <p class="mindfulness__lead text-center">
        Mindfulness and mindfulness skills can be practiced at any time, anywhere, while doing anything. Intentionally paying attention to the moment, without judging it or holding on to it, is all that is needed. The mindfulness skills often require a lot of practice. As with any new skill, it is important to first
practice when you don’t need the skill. If you practice in easier situations, the skill will become
automatic, and you will have the skill when you need it. Practice with your eyes closed and with
your eyes open.
    </p>
    
    <p class="mindfulness__lead text-center">Mindfulness skills can be thought of in three key categories. Click each category for examples</p>
    
    <div class="row text-center">
    <div class="four columns">
      <h4>Wise Mind</h4>
      <p><strong>States of Mind</strong></p>
      <p>Reasonable Mind, Emotional Mind, Wise Mind</p>
      <p class="text-center mt-3 mb-3">
    <a href="#" class="button button-primary">View Skills</a>
  </p>
    </div>
    <div class="four columns">
      <h4>“What” Skills</h4>
      <p><strong>What you do when practicing mindfulness</strong></p>
      <p>Observing, Describing, Participating</p>
      <p class="text-center mt-3 mb-3">
    <a href="#" class="button button-primary">View Skills</a>
  </p>
    </div>
    <div class="four columns">
      <h4>“How ” Skills</h4>
      <p><strong>How you practice when practicing mindfulness</strong></p>
      <p>Nonjudgmentally, One-Mindfully, Effectively</p>
      <p class="text-center mt-3 mb-3">
    <a href="#" class="button button-primary">View Skills</a>
  </p>
    </div>
  </div>
</div>

<%- include ('./partials/modal') %>

<%- include ('./partials/footer') %>