<%- include ('./partials/header') %>


<div class="container">
  <h1 class="text-center mt-3 mb-3">DBT Quick Reference</h1>
  <p class="text-center">
    Use this site as a resource for DBT skills and helpful links
  </p>
  

  <div class="row text-center">
    <div class="three columns">
      <h4>Core Mindfulness</h4>
      <p>Live intentionally with awareness of the present moment, without judgement or rejection</p>
      <p class="text-center mt-3 mb-3">
    <a href="/skills/mindfulness" class="button button-primary">View Skills</a>
  </p>
    </div>
    <div class="three columns">
      <h4>Interpersonal Effectiveness</h4>
      <p>Be skillful in getting what you need from others to build relationships and walk the middle path</p>
      <p class="text-center mt-3 mb-3">
    <a href="/skills/interpersonal" class="button button-primary">View Skills</a>
  </p>
    </div>
    <div class="three columns">
      <h4>Emotion Regulation</h4>
      <p>Understand your emotions to decrease the frequency of negative feelings and emotional vulnerability</p>
      <p class="text-center mt-3 mb-3">
    <a href="/skills/emotion" class="button button-primary">View Skills</a>
  </p>
    </div>
    <div class="three columns">
      <h4>Distress Tolerance</h4>
      <p>Accept reality to survive crisis situations and become free of the demands of your intense emotions</p>
      <p class="text-center mt-3 mb-3">
    <a href="/skills/distress" class="button button-primary">View Skills</a>
  </p>
    </div>
  </div>
  
</div>




<%- include ('./partials/footer') %>
