<%- include ('./partials/header') %>


<div class="container">
  <h1 class="text-center mt-2 mb-3">DBT Quick Reference</h1>
  <p class="text-center">
    Use this site as a resource for DBT skills and helpful links
  </p>
  <p class="text-center mt-5 mb-5">
    <a href="/skills" class="button button-primary">View Skills</a>
  </p>
  
</div>




<%- include ('./partials/footer') %>
