<%- include ('./partials/header') %>

<div class="container">
  <h1 class="text-center mt-2 mb-3"><%= skill.title %></h1>
  <p class="text-center mt-3 mb-3">
    <%= skill.description %>
  </p>
</div>


<%- include ('./partials/footer') %>