.backdrop {
  display: none;
  &--open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.modal {
  display: none;
  &--open {
    display: block;
    z-index: 300;
    max-height: 95vh;
    max-width: 95vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: white;
    padding: 2rem;
    border-radius: 0.4rem;

    @media only screen and (max-width: 700px) {
      width: 85%;
      height: 65%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__arrow {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0.7rem 1rem 0 1rem;
  }
}
