.navbar {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 2rem 3rem 0 3rem;
  background-color: $color-primary;

  &__home {
    color: white;
    text-decoration: none;
    padding-bottom: 0 !important;
    font-size: 2rem;
  }

  &__menu {
    ul {
      list-style: none;
      padding-bottom: 0 !important;
      display: flex;
      li {
        padding: 0 1rem;
        margin: 0 1rem;
        a {
          color: white;
          font-size: 1.6rem;

          &:hover {
            color: $color-dark;
          }
        }
      }
    }
  }
}
